:root {
  --g-navbar-min-height: 50px;
  --g-tabbar-min-height: 60px;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

* {
  scrollbar-color: hsl(var(--scrollbar-color)) transparent;
  scrollbar-width: thin;
  border-color: hsl(var(--border));
}

html {
  overscroll-behavior: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  -webkit-tap-highlight-color: transparent;
}

/* 全局样式 */
#app {
  overflow: hidden auto;
  font-size: 14px;
  background-color: var(--g-bg);
}
